.carousel {
  margin: 0px auto;
  width: 11em;
  height: 70vh;
  border: none;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  top: 80px;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-bottom: 1em;
}
.card {
  flex: 0 0 3em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 1em;
  background-color: lightgray;
  font-size: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scroll-btn {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
.scroll-up {
  top: 10px;
}
.scroll-down {
  bottom: 10px;
}