html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  margin: 0;
  /*background-image: url("");
    background-color: #232323;*/
  z-index: -2;
}

#Background-Video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}


.Left-logo {
  position: fixed;
  left: 50px;
  width: 110px;
  height: auto;
  top: 3px;
  z-index: 100;
}

.logo {
  position: fixed;
  left: 50px;
  width: 110px;
  height: auto;
  top: 3px;
  z-index: 100;
}

/*Navigation Bar*/
.Navigation-Bar {
  list-style: none;
  margin: 0;
  padding-left: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(0, 0, 0, 0.781);
  height: 67px;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
}

.Navigation-Bar li {

  margin-left: 25px;
}

.Navigation-Bar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 10px;
  display: block;
  transition: 0.3s;
}

.Navigation-Bar a:hover {
  color: cyan;
  text-shadow: 0 0 5px cyan, 0 0 10px cyan;
}

#Navigation-Bar {
  font-size: 10px;
  font-family: sans-serif;
}

.Character-Name-Button {
  font-family: "Tangerine";
  cursor: pointer;
  font-size: 70px;
  background: transparent;
  border: none;
  color: white;
  position: relative;
  top: 100px;
  left: 200px;
  padding: 0;
}


#Background-Wallpaper {
  position: absolute;
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  z-index: -1;
}