* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: rgb(248, 138, 138);
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 100;
  text-align: center;
  top: 40%;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  transition: background 0.3s;
}

button:hover {
  background-color: rgb(8, 0, 255);
}
